<h1> {{ title }} </h1>
<input type="text" placeholder="Enter new Task" #task />
<br>
<br>
<button (click)="addTask(task.value)">Add New Task</button>
<br>
<br>
<ul *ngFor="let item of list">
  <li>
    {{item.name}} <button (click)="RemoveTask(item.id)">Remove</button> 
    <!-- <input type="text" ([ngModel])="item.name" [disabled]="item.is_Editable">  -->
    <!-- <button (click)="UpdateTask1(item)">Update</button> -->
  </li>
</ul>
<app-child [item]="data"></app-child>
<button (click)="UpdateTask()">Update Child Component</button>
<br>
<br>







  


     

   